:root {
    --container-padding: 20px;
    --container-width: 300px;
    --answer-padding: 10px;
    --button-padding: 10px;
    --timer-margin: 20px;
    --timer-padding: 5px;
    --font-size-large: large;
    --small-padding: 5px;
    --border-radius: 10px;
    --margin-top: 20px;
    --button-border-radius: 5px;
    --box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    --gap: 10px;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #2b5876, #4e4376);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.answer.selected {
    background-color: #ffc107; 
    color: black;
}


.quiz-container {
    background-color: white;
    border-radius: var(--border-radius);
    padding: var(--container-padding);
    box-shadow: var(--box-shadow);
    text-align: center;
    width: var(--container-width);
}

.answers-container {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    margin-top: var(--margin-top);
}

#theme {
    background-color: #000000;
    color: white;
    border: none;
    padding: var(--button-padding);
    border-radius: var(--button-border-radius);
    cursor: pointer;
}

.answer {
    background-color: #343a40;
    color: white;
    border: none;
    padding: var(--answer-padding);
    border-radius: var(--button-border-radius);
    cursor: pointer;
}

.answer.correct {
    background-color: green;
}

.answer.incorrect {
    background-color: red;
}

#timer {
    background-color: #514765;
    margin: var(--timer-margin);
    padding: var(--timer-padding);
    border-radius: var(--button-border-radius);
    width: 80%;
    align-self: center;
    border: none;
    font-size: var(--font-size-large);
    color: white;
}

#next-button {
    margin-top: var(--margin-top);
    padding: var(--button-padding);
    width: 100%;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: var(--button-border-radius);
    cursor: pointer;
}

#next-button:disabled {
    background-color: #6c757d;
}

#score-container {
    margin-top: var(--margin-top);
}

.hidden {
    display: none;
}

#restart-button {
    margin-top: var(--margin-top);
    padding: var(--button-padding);
    width: 100%;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: var(--button-border-radius);
    cursor: pointer;
}

body.dark-mode {
    background: linear-gradient(to right, #1e1e1e, #333333);
    color: white;
}

body.dark-mode .quiz-container {
    background-color: #333333;
    color: white;
}

body.dark-mode .answer {
    background-color: #444444;
}

body.dark-mode .answer.correct {
    background-color: green;
}

body.dark-mode .answer.incorrect {
    background-color: red;
}

body.dark-mode #next-button {
    background-color: #007bff;
}

body.dark-mode #next-button:disabled {
    background-color: #6c757d;
}

body.dark-mode #restart-button {
    background-color: #007bff;
}

body.dark-mode #theme {
    background-color: azure;
    color: #000000;
}

@media (max-width: 375px) {
    .quiz-container {
        width: 90%;
        padding: var(--small-padding);
    }

    .answer {
        padding: var(--small-padding);
    }

    #next-button, #restart-button {
        padding: var(--small-padding);
    }
}
