body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #2b5876, #4e4376);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.quiz-container {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

.answers-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

#theme {
    background-color: #000000;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;

}
.answer {
    background-color: #343a40;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.answer.correct {
    background-color: green;
}

.answer.incorrect {
    background-color: red;
}

#timer {
    background-color: #514765;
    margin: 20px;
    padding: 5px;
    border-radius: 5px;
    width:80%;
    align-self: center;
    border: none;
    font-size: large;
    color: white


}
#next-button {
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#next-button:disabled {
    background-color: #6c757d;
}

#score-container {
    margin-top: 20px;
}

.hidden {
    display: none;
}

#restart-button {
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
body.dark-mode {
    background: linear-gradient(to right, #1e1e1e, #333333);
    color: white;
}

body.dark-mode .quiz-container {
    background-color: #333333;
    color: white;
}

body.dark-mode .answer {
    background-color: #444444;
}

body.dark-mode .answer.correct {
    background-color: green;
}

body.dark-mode .answer.incorrect {
    background-color: red;
}

body.dark-mode #next-button {
    background-color: #007bff;
}

body.dark-mode #next-button:disabled {
    background-color: #6c757d;
}

body.dark-mode #restart-button {
    background-color: #007bff;
}

body.dark-mode #theme {
    background-color: azure;
    color: #000000;
}


@media (max-width: 375px) {
    .quiz-container {
        width: 90%;
        padding: 10px;
    }

    .answer {
        padding: 5px;
    }

    #next-button, #restart-button {
        padding: 5px;
    }
}
