/* styles.css */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #2b5876, #4e4376);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.quiz-container {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

.answers-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.answer {
    background-color: #343a40;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.answer.correct {
    background-color: green;
}

.answer.incorrect {
    background-color: red;
}

#next-button {
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#next-button:disabled {
    background-color: #6c757d;
}

#score-container {
    margin-top: 20px;
}

.hidden {
    display: none;
}

#restart-button {
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
